<p>Verbinding rest service</p>

<h1>{{car.Brand}} {{car.Model}}</h1>

<form novalidate class="css-form">
<input type="text" ng-model="car.Brand" name="brand" required/>
<span ng-show="form.brand.$error.required">What brand?</span>
<input type="text" ng-model="car.Model" required/>
<button ng-click="update()">update</button>
</form>

<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
<ul>
    <li ng-repeat="c in cars">
        {{c.Brand}} {{c.Model}}
    </li>
</ul>